@page "/"
@using EndlessRunner.Web.Components.Pages
@* @attribute [StreamRendering] *@

@inject NavigationManager navigationManager

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<MapComponent  />