@page "/"
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<pre>
    @stringMap
</pre>


<button @onclick="() => {
            map.GoLeft = true;
            map.GoRight = false;
    }"
    >Left</button>
<button @onclick="() =>{
            map.GoLeft = false;
            map.GoRight = true;
          }">Right</button>
@code {
    public Map? map = null;
    public string stringMap { get; private set; } = string.Empty;
    private bool isComponentAlive = true;

    private Task? renderTask = null;

    protected override void OnInitialized()
    {
        map = new Map();
        if(renderTask == null)
        {
            renderTask = RunRenderThread();
        }
    }

    private async Task RunRenderThread()
    {
        while (true)
        {
            await Task.Delay(1000); // Non-blocking delay
            var newRow = map.GenerateNewRow();
            map.AddNewRow(newRow);
            stringMap = map.ToString();
            InvokeAsync(StateHasChanged); // No need to use InvokeAsync as we are already on the main thread
        }
    }

}