@page "/"
@using Canvas
@using Canvas.Assignments

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@if(assignments != null)
{
    @foreach(var assignment in assignments)
    {
       <p>@assignment.Name Point: @assignment.PointsPossible</p>
       

    }
}

@code {
    private List<CanvasAssignment> assignments { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var canvasService = new CanvasService();

        assignments = await canvasService.GetCanvasAssignmentsAsync();

        foreach (var assignment in assignments)
        {
            Console.WriteLine(assignment);
        }
    }
}
